<ion-content>
  <canvas #imageCanvas (mousedown)="startDrawing($event)" (touchstart)="startDrawing($event)"
    (touchmove)="moved($event)" (mousemove)="moved($event)" (mouseup)="endDrawing()" (touchend)="endDrawing()"></canvas>

  <ion-fab vertical="start" horizontal="end" slot="fixed" class="buttonNav">
    <ion-fab-button size="large" color="secondary" (click)="onStartClick()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="start" horizontal="start" slot="fixed" class="buttonNav">
    <ion-fab-button size="large" color="secondary" (click)="onChartClick()">
      <ion-icon name="bar-chart-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>