canvas {
  border: 1px solid rgb(187, 178, 178);
}
 
.color-block {
  height: 40px;
}

.buttonNav {
  position: absolute;
  top: 80%;
  background-color: red($color: #8a2828);
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}