<ion-header>
    <ion-toolbar>
        <ion-title>Trackers</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [routerLink]="['/newItem']">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-list>
        <ion-item *ngFor="let tracker of trackers" (click)="openLogPage({{ tracker }})">
            <ion-label>{{ tracker.name }}</ion-label>
        </ion-item>
    </ion-list> -->
    <ion-content scrollX='true' scrollY='true'>
        <canvas #imageCanvas (click)="detect($event)"></canvas>
        
        <ion-fab vertical="start" horizontal="end" slot="fixed" class="buttonNav">
            <ion-fab-button size="large" (click)="onPlusClick()">
            <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab>
        <ion-fab vertical="start" horizontal="start" slot="fixed" class="buttonNav">
            <ion-fab-button size="large" (click)="onChartClick()" >
            <ion-icon name="stats"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ion-content>
</ion-content>