<ion-header>
  <ion-toolbar>
    <ion-title>Add Tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form *ngIf="trackerForm" [formGroup]="trackerForm" (ngSubmit)="createTracker()">
    <ion-item>
      <ion-label position="stacked">What would you like to track? <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" formControlName="title" placeholder="ex: running"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Why?</ion-label>
      <ion-input type="text" formControlName="why" placeholder="ex: lose weight"></ion-input>
    </ion-item>
    <!-- <ion-button
            ionicColorPicker
            [colors]="['#C0392B', '#E74C3C', '#9B59B6', '#8E44AD', '#2980B9', '#3498DB', '#1ABC9C', '#16A085', '#27AE60', '#2ECC71']"
            [position]="'bottom'"
            (onColorPickerOpen)="eventOccur($event)"
            (onColorPickerClose)="eventOccur($event)"
            (onColorChange)="eventOccur($event)">
        Change Color
    </ion-button> -->
    <ion-item>
    <ion-slides>
      <ion-slide>
          <ion-icon name="bus-outline"></ion-icon>
      </ion-slide>
      <ion-slide>
          <ion-icon name="bus-outline"></ion-icon>
      </ion-slide>
      <ion-slide>
          <ion-icon name="bus-outline"></ion-icon>
      </ion-slide>
      <ion-slide>
          <ion-icon name="bus-outline"></ion-icon>
      </ion-slide>
      <ion-slide>
          <ion-icon name="bus-outline"></ion-icon>
      </ion-slide>
      <ion-slide>
          <ion-icon name="bus-outline"></ion-icon>
      </ion-slide>
      <ion-slide>
          <ion-icon name="bus-outline"></ion-icon>
      </ion-slide>
      <ion-slide>
          <ion-icon name="bus-outline"></ion-icon>
      </ion-slide>
    </ion-slides>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="!trackerForm.valid" class="ion-no-margin">Create Tracker</ion-button>
  </form>
</ion-content>
